
.desktop{
  display: none;
}
.shorten{
  height: 100vh;
  overflow-y: hidden;
}

@media screen and (min-width:728px) {
  .mobile{
    display: none;
  }
  .desktop{
    display: block;
  }
  .shorten{
    height: auto;
    overflow-y: auto;
  }
}